<input class="form-control" type="text" ng-model="query" placeholder="Filter"/>
<p>Sorting predicate = {{ predicate }}; reverse = {{ reverse }}</p>
<table class="table">
    <thead>
        <th ng-repeat="(key, value) in thead">
            <a ng-click="sort(key)">
                {{ value }}
            </a>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="tr in tbody | filter:search | orderBy:predicate:reverse">
            <td ng-repeat="(key, value) in tr">
                <span ng-if="key != 'birth'">{{ value }}</span>
                <span ng-if="key == 'birth'">{{ value | date  }}</span>
            </td>
        </tr>
    </tbody>
</table>
