<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a person</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="addItem(person)" role="form" ng-controller="AddItemCtrl">
                        <div class="form-group">
                            <label for="personName">Name</label>
                            <input id="personName" type="text" class="form-control" ng-model="person.name" required/>
                        </div>
                        <div class="form-group">
                            <label for="personBirth">Birth data</label>
                            <input id="personBirth" type="date" class="form-control" ng-model="person.birth" required/>
                        </div>
                        <div class="form-group">
                            <label for="personEmail">Email address</label>
                            <input id="personEmail" type="email" class="form-control" ng-model="person.email" required/>
                        </div>
                        <div class="form-group">
                            <label for="personChildren">Number of children</label>
                            <input id="personChildren" type="number" class="form-control" ng-model="person.children" required/>
                        </div>
                        <div class="form-group">
                            <input id="personSubmit" name type="submit" class="btn btn-primary" value="Add"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ncc-table thead="header" tbody="people" order="startingOrder" searchables="['name','email']"></ncc-table>
        </div>
    </div>
</div>
